.reset {
    left: 12px;
    top: 58px;
    background:  rgb(170, 11, 11);
    color: #ffff;
    font-size: 2rem;
    margin-right: 5%;
}
.reset:hover {
    background: none;
}
.btnReset{
    text-align: center;
}

@media (max-width: 700px) {
    .reset{
        font-size: 1rem;
        margin-top: 67vh !important;
        height: 2.8em;
    }
  }
  