.reset {
    left: 12px;
    top: 58px;
    background: none;
    border: none;
    color: #ffff;
    font-size: 2rem;   
}
.reset:hover {
    background: none;
}
.well{
    background:  rgb(170, 11, 11);
}
@media (max-width: 700px) {
    .reset{
        font-size: 1rem;
    }
        .well{
            height: 4em;
            width: 20em;
            margin-top: 70vh !important;
        }
  }
  